<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toloka2MediaServer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            margin-top: 20px;
        }
        .full-width-button {
            width: 100%;
        }
        .result-list {
            position: absolute;
            margin-top: 2px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
            z-index: 1000;
        }
        .list-group-item {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    {% if output  %}
    <div class="container mt-5">
        <div class="card alert {{ 'alert-success' if output.response_code == 'SUCCESS' else 'alert-danger' if output.response_code == 'FAILURE' else 'alert-warning' }}" >
            <div class="card-body">
                <h5 class="card-title">Operation Type: {{ output.operation_type.replace('_', ' ').title() }}</h5>
                <p class="card-text">Response Code: <span class="badge {{ 'bg-success' if output.response_code == 'SUCCESS' else 'bg-danger' if output.response_code == 'FAILURE' else 'bg-warning' }}">{{ output.response_code }}</span></p>
                <p class="card-text">Start Time: {{ output.start_time }}</p>
                <p class="card-text">End Time: {{ output.end_time }}</p>

                <!-- Titles References Accordion -->
                <div class="accordion" id="TitlesAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="TitlesHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TitlesCollapse" aria-expanded="false" aria-controls="TitlesCollapse">
                                Titles References
                            </button>
                        </h2>
                        <div id="TitlesCollapse" class="accordion-collapse collapse" aria-labelledby="TitlesHeading">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    {% for title in output.titles_references %}
                                    <li class="list-group-item">
                                        {{ title }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Torrent References Accordion -->
                <div class="accordion  mt-3" id="torrentAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="torrentHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#torrentCollapse" aria-expanded="false" aria-controls="torrentCollapse">
                                Torrent References
                            </button>
                        </h2>
                        <div id="torrentCollapse" class="accordion-collapse collapse" aria-labelledby="torrentHeading">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    {% for torrent in output.torrent_references %}
                                    <li class="list-group-item">
                                        {{ torrent }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Operation Logs Accordion -->
                <div class="accordion mt-3" id="logsAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="logsHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#logsCollapse" aria-expanded="false" aria-controls="logsCollapse">
                                Operation Logs
                            </button>
                        </h2>
                        <div id="logsCollapse" class="accordion-collapse collapse" aria-labelledby="logsHeading">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    {% for log in output.operation_logs %}
                                    <li class="list-group-item">{{ log }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <p class="mb-0">Create an issue on github if something wrong.</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container mt-5">
        <h1 class="mb-4">Toloka2MediaServer</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Get Index</h5>
                        <label for="numberInput">Enter Text:</label>
                        <input type="text" class="form-control" id="numberInput" oninput="extractNumbers()" placeholder="[Inari Dub] Arknights Touin Kiro S01 E09 (1080) (UA).mkv">
                        <div id="result" class="result-list list-group"></div>
                    </div>
                </div>
                <script>
                    function extractNumbers() {
                        const input = document.getElementById('numberInput').value;
                        const numbers = input.split('').map((ch) => (ch >= '0' && ch <= '9') ? ch : ' ').join('').trim().split(/\s+/);
                        const resultList = document.getElementById('result');
                        resultList.innerHTML = '';
            
                        numbers.forEach((number, index) => {
                            if (number !== '') {
                                const item = document.createElement('div');
                                item.className = 'list-group-item';
                                item.textContent = `Index: ${index+1}, Number: ${number}`;
                                resultList.appendChild(item);
                            }
                        });
            
                        if (numbers.join('').length === 0) {
                            resultList.style.display = 'none';
                        } else {
                            resultList.style.display = 'block';
                        }
                    }

                    document.addEventListener("DOMContentLoaded", function() {
            const forms = document.querySelectorAll('form');

            forms.forEach(form => {
                form.addEventListener('submit', function(event) {
                    document.querySelectorAll('form button').forEach(button => {
                        button.disabled = true;
                    });
                });
            });
        });
                </script>
            </div>
            <!-- Section 1 -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add by toloka URL</h5>
                        <form action="/add_release" method="post">
                            <div class="mb-3">
                                <label for="url" class="form-label">URL</label>
                                <input type="url" class="form-control" id="url" placeholder="https://toloka.to/t678205" name="url" required>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Arknights (2022)" name="title" required>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <label for="season" class="form-label">Season</label>
                                    <input type="number" class="form-control" id="season" placeholder="2" name="season" required>
                                </div>
                                <div class="col">
                                    <label for="index" class="form-label">Index</label>
                                    <input type="number" class="form-control" id="index" placeholder="2" name="index" required>
                                </div>
                                <div class="col">
                                    <label for="correction" class="form-label">Correction</label>
                                    <input type="number" class="form-control" id="correction" placeholder="-8" name="correction" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary full-width-button mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Section 2 and 3 -->
            <div class="col-md-6">
                <!-- Update all -->
                <div class="card">
                    <div class="card-body"  style="min-height: 148px;">
                        <h5 class="card-title">Update all</h5>
                        <p class="card-text">Total: {{ codenames|length }}</p>
                        <form action="/update_all_releases" method="post">
                            <button class="btn btn-primary full-width-button">
                                <i class="bi bi-arrow-clockwise"></i> Update
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Update by codename -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update by codename</h5>
                        <form action="/update_release" method="post">
                            <div class="mb-3">
                                <label for="codename" class="form-label">Codename</label>
                                <input type="text" class="form-control" id="codename" placeholder="Enter codename" name="codename" list="codename-list" required>
                                <datalist id="codename-list">
                                    {% for codename in codenames %}
                                    <option value="{{ codename }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <button class="btn btn-primary full-width-button">
                                <i class="bi bi-arrow-clockwise"></i> Update
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container mt-5">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    {% for key, name in columns.items() %}
                    <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for key in columns %}
                    <td>
                        {% if key == 'guid' %}
                        <a href="https://toloka.to/{{ item[key] }}">{{ item[key] }}</a>
                        {% else %}
                        {{ item[key] }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>